.display {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 4em;
    padding: 25px;
    text-align: right;
    width: 370px;
    border: 1px solid #000000;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: #000000;
  }